@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';
@import 'mixin';

// header start
.header {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;

    &__inner {
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        padding: 26px 40px;
        background-color: #fff;
    }

    &__col:first-child {
        grid-gap: 36px;
    }

    &-menu {
        display: flex;
        align-items: center;
        grid-gap: 18px;
    }

    &-menu a {
        font-family: "ALS Sector", sans-serif;
    }

    &-socials {
        align-items: center;
        grid-gap: 16px;
        margin-right: 20px;
    }
}
// header end


@import 'media';