@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';
@import 'mixin';

// header start
.header {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 10;

    &__inner {
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        padding: 26px 40px;
        background-color: #fff;
    }

    &__col:first-child {
        grid-gap: 36px;
    }

    &-menu {
        display: flex;
        align-items: center;
        grid-gap: 18px;
    }

    &-menu a {
        font-family: "ALS Sector", sans-serif;
    }

    &-socials {
        align-items: center;
        grid-gap: 16px;
        margin-right: 20px;
    }
}

//header end
.home {
    padding-top: 194px;

    &__inner {
        display: grid;
        grid-template-columns: 478px 570px;
        grid-gap: 68px;
    }

    &__text {
        margin: 20px 0 32px;
    }
}

.home-images img {
    object-fit: cover;
}

.home__img-top {
    width: 553px;
    height: 369px;
    margin-bottom: 37px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        border-radius: 34.5455px 112.273px;
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 553px;
        height: 369px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='554' height='370' viewBox='0 0 554 370' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.5455 2H441.318C502.22 2 551.591 51.3708 551.591 112.273V335.01C551.591 352.985 537.02 367.556 519.045 367.556H112.273C51.3707 367.556 2 318.185 2 257.283V34.5455C2 16.5711 16.5711 2 34.5455 2Z' stroke='url(%23paint0_linear_2197_502)' stroke-width='4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2197_502' x1='276.795' y1='0' x2='276.795' y2='369.556' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2350B0FD'/%3E%3Cstop offset='1' stop-color='%233396DB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &::before {
        top: -1px;
        left: 0;
    }

    &::after {
        top: 19px;
        left: 16px;
        z-index: -1;
    }
}

.home-bottom__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-bottom__img-left {
    width: 197px;
    height: 197px;
    position: relative;

    img {
        width: 99%;
        height: 100%;
        border-radius: 50%;
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 553px;
        height: 369px;
        background-image: url("data:image/svg+xml,%3Csvg width='198' height='198' viewBox='0 0 198 198' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M195.773 99.1352C195.773 152.632 152.396 196 98.8864 196C45.3771 196 2 152.632 2 99.1352C2 45.6387 45.3771 2.27039 98.8864 2.27039C152.396 2.27039 195.773 45.6387 195.773 99.1352Z' stroke='url(%23paint0_linear_2197_507)' stroke-width='4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2197_507' x1='98.8864' y1='0.270386' x2='98.8864' y2='198' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2350B0FD'/%3E%3Cstop offset='1' stop-color='%233396DB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
    }

    &::before {
        top: -1px;
        left: 0;
    }

    &::after {
        top: 20px;
        left: -16px;
        z-index: -1;
    }
}

.home-bottom__img-right {
    position: relative;
    width: 299px;
    height: 196.96px;
    border-radius: 34.5455px 112.273px;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    img {
        width: 99%;
        height: 100%;
        border-radius: 34.5455px 112.273px;
    }

    &::after,
    &::before {
        transform: matrix(-1, 0, 0, 1, 0, 0);
        content: '';
        position: absolute;
        width: 299px;
        height: 199.96px;
        background-image: url("data:image/svg+xml,%3Csvg width='300' height='199' viewBox='0 0 300 199' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M298 35.4522C298 17.4778 283.429 2.90674 265.455 2.90674H112.273C51.3708 2.90674 2 52.2775 2 113.179V164.318C2 182.293 16.5711 196.864 34.5454 196.864H187.727C248.629 196.864 298 147.493 298 86.5909V35.4522Z' stroke='url(%23paint0_linear_2197_504)' stroke-width='4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2197_504' x1='150' y1='0.906738' x2='150' y2='198.864' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2350B0FD'/%3E%3Cstop offset='1' stop-color='%233396DB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
    }

    &::before {
        top: -1px;
        left: 0;
    }

    &::after {
        top: 20px;
        left: 16px;
        z-index: -1;
    }
}

.solutions {
    &__head {
        max-width: 866px;
        width: 100%;
    }

    &__inner {
        padding: 70px 71px 72px;
        border-radius: 40px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 340px;
        grid-gap: 40px;
    }

    &__video {
        position: relative;

        video {
            border-radius: 40px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__items {
        display: grid;
        grid-gap: 24px;
    }
}

.solutions-item {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 60px 1fr;

    &__title {
        margin-bottom: 10px;
    }
}

.bg-block {
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.18);
        inset: 0;
        width: 100%;
        height: 100%;
    }

    &__items {
        display: grid;
        grid-gap: 24px;
    }

    &__inner {
        justify-content: space-between;
        z-index: 2;
        position: relative;
    }

    &__title {
        width: 310px;
        color: #fff;
    }
}

.bg-block-item {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 40px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 24px;
    width: 451px;
    padding: 40px;

    &__icon {
        border-radius: 20px
    }

    &__title {
        margin-bottom: 12px;
    }

}

.comfort {
    &__head {
        max-width: 778px;
        width: 100%;
    }

    &__images {
        display: grid;
        grid-template-columns: 356px 1fr;
        grid-gap: 24px;

        img {
            border-radius: 40px;
            width: 100%;
            height: 100%;
        }

        img:last-child {
            grid-column-start: 2;
            grid-row-end: 3;
            grid-row-start: 1;

        }
    }
}

.composition {
    &__head {
        max-width: 817px;
        width: 100%;
    }

    &__items {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(3, 1fr);
    }
}

.composition-item {
    padding: 40px;
    background: #FFFFFF;
    border-radius: 60px;

    &__title {
        margin: 32px 0 13px;
    }

    &__text {
        max-width: 246px;
        width: 100%;
        margin: 0 auto;
    }
}


.advantages {

    &__head {
        max-width: 756px;
        width: 100%;
    }

    &__items {
        display: grid;
        grid-gap: 60px;
    }
}


.advantages-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    &:nth-child(odd) {
        flex-direction: row;

        .advantages-item__image {
            transform: matrix(-1, 0, 0, 1, 0, 0);
        }
    }

    &__content {
        max-width: 451px;
        width: 100%;
    }

    &__subtitle {
        display: inline-flex;
        align-items: center;
        padding: 8px 12px;
        background: linear-gradient(180deg, #50B0FD 0%, #3396DB 100%);
        border-radius: 20px 5px;
        color: #fff;
        margin-bottom: 14px;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__text {}

    &__image {
        position: relative;
        border-radius: 120px 20px;
        width: 551px;
        height: 317px;

        img {
            width: 99%;
            height: 100%;
            border-radius: 120px 20px;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 551px;
            height: 317px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='546' height='317' viewBox='0 0 546 317' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 120C2 54.8304 54.8304 2 120 2H526C535.941 2 544 10.0589 544 20V197C544 262.17 491.17 315 426 315H20C10.0589 315 2 306.941 2 297V120Z' stroke='url(%23paint0_linear_2197_554)' stroke-width='4'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2197_554' x1='273' y1='0' x2='273' y2='317' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2350B0FD'/%3E%3Cstop offset='1' stop-color='%233396DB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        }

        &::before {
            top: -1px;
            left: 0;
        }

        &::after {
            top: 20px;
            left: -24px;
            z-index: -1;
        }
    }

}


.banner {
    &__inenr {
        padding: 70px 0 71px 71px;
        background: linear-gradient(180deg, #50B0FD 0%, #3396DB 100%);
        border-radius: 40px;

    }

    &__content {
        max-width: 534px;
        width: 100%;
    }

    &__title {
        color: #fff;
    }

    &__text {
        color: #fff;
    }

    &__bottom {
        display: flex;
        align-items: center;
        grid-gap: 26px;
    }

    &__btn {}

    &-socials {
        display: flex;
        align-items: center;
        grid-gap: 14px;
    }

    &-socials-item {}
}




@import 'media';